* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  border: 2px solid black;
  box-shadow: 5px 5px rgb(241, 241, 241);
  padding: 20px;
  display: none;
}
