* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  text-align: center;
  width: 200px;
  padding: 50px;
  border: 2px solid black;
  box-shadow: 10px 10px 10px hsla(0, 0%, 32%, 0.432);
}
